streamlit
langchain
langchain-community>=0.0.30
faiss-cpu
python-docx
pypdf
pandas
tiktoken
requests
python-dotenv
huggingface-hub
xlrd>=2.0.1
sentence-transformers>=2.2.2
openpyxl>=3.1.0
langchain-huggingface
torch==2.1.0
